.thumbnail{
    width: 200px;
    height: 200px;
    float: left;
}

/*.thumbnail:hover{
	-moz-box-shadow: 0 0 10px #ccc;
	-webkit-box-shadow: 0 0 10px #ccc;
	box-shadow: 0 0 10px #ccc;
	width: 800px;
	height: 800px;
	transition: all 5s;
}*/